#message {

    width: 400px;
    margin:0 auto;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    
    
}
#message.show {
    opacity: 1;
}
#colour-changer {
    width: 200px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #000;
    background: #fff;
}