#content {

    width: 400px;
    margin: auto;

    max-height: 270px;
    overflow: hidden;
    
}
#content.open {
    max-height: 1000px;
}
#show-more {
    display: block;
    text-align: center;
    width: 140px;
    margin: 20px auto;
}